.appear-enter {
  transition-duration: .7s;
  transition-property: opacity;
  transition-timing-function: ease-out;
  opacity: 0;
}

.appear-enter.appear-enter-active {
  opacity: 1;
}

.appear-leave {
  opacity: 0;
}

.top-toggles{
  height: 75%;
}

.bottom-toggles{
  position: absolute;
  bottom: 10%;
}

.header{
  background-color: ;
}

.mapSearch{
  width: 200px;
}
